body {
    background: yellowgreen;
}
p, h1, h2, h3, h4 {
    font-family: monospace, Arial, Helvetica, sans-serif;
    
}


#root {
    text-align: center;
}
#assignmentDiv {
    display:flex;
    padding: 20px;
    justify-content: space-between;
    border: 5px solid black;
    border-radius: 5px;
   
    
    
}

#todoDiv, #inProgressDiv, #doneDiv {

    flex: 1;
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(118, 157, 38);
    border-radius: 5px;
    
}
.task-container {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.task-container.ux {
    background-color:hotpink
}
.task-container.backend {
 background-color:darkgray
}

.task-container.frontend {
    background-color:cyan;
}

.ux {
    background-color:hotpink
}
.backend {
    background-color:darkgray
   }
  .frontend {
    background-color:cyan;
}